apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
spec:
  selector:
    matchLabels:
      app: app
  replicas: 2
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
      - name: nginx
        image: andherson1039/maven2:c41fbe66a6abc58eda29d458f5ebf1c4fd244f0c
        ports:
