
name: Java CI with Maven and SonarCloud

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  cancel-redundancy:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Redundancy workflow
        uses: styfle/cancel-workflow-action@0.12.0
        with:
          access_token: ${{ github.token }}

  build-maven-and-sonarcloud:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: |
          cd spring-boot-app
          mvn clean package
      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
           path: ~/.m2
           key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
           restore-keys: ${{ runner.os }}-m2
      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: SonarCloud Scan
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
         cd spring-boot-app
         mvn sonar:sonar -Dsonar.projectKey=Andherson333333_maven-git

  build-deploy:
    name: Build 
    runs-on: ubuntu-latest
    # if: ${{ github.event_name == 'push' }}
    needs: build-maven-and-sonarcloud
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and (not) push
        uses: docker/build-push-action@v5
        with:
          context: spring-boot-app/
          push: false
          tags: andherson1039/maven2:${{ github.sha }}

      - name: Update deployment.yaml
        run: |
          cat argocd/deployment.yaml
          sed -i "s|image: andherson1039/maven2:[0-9a-zA-Z]*|image: andherson1039/maven2:${{ github.sha }}|g" argocd/deployment.yaml
          cat argocd/deployment.yaml

      - name: Commit changes and push (deploy)
        run: |
          date > generated.txt
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add argocd/deployment.yaml
          git commit -m "generated"
          git push
